<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.backend.mapper.BookshelfMapper">
    <select id="getBooksByUserId" resultType="com.bookstore.backend.entity.Book">
        SELECT b.id, b.bookname, b.author, b.description, b.img, b.price
        FROM bookshelf bs
                 JOIN book b ON bs.bookid = b.id
        WHERE bs.userid = #{userId}
    </select>
</mapper>
