<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.backend.mapper.CommentMapper">
    <!-- 查询书籍的所有评论，并且关联用户信息（用户名） -->
    <select id="getCommentsByBookId" resultType="com.bookstore.backend.entity.Comment">
        SELECT c.id, c.userid, u.username, c.bookid, c.comment, c.time
        FROM comment c
                 JOIN user u ON c.userid = u.id
        WHERE c.bookid = #{bookId}
        ORDER BY c.time DESC
    </select>

    <select id="pageC" resultType="map">
        SELECT c.id,
               u.username,
               b.bookname,
               c.time AS commentTime,
               c.comment,
               c.rating
        FROM comment c
                 INNER JOIN book b ON c.bookid = b.id
                 INNER JOIN user u ON c.userid = u.id
        ORDER BY c.time DESC
    </select>

    <!-- 结果映射，将数据库字段映射到 Comment 对象 -->
    <resultMap id="BaseResultMap" type="com.bookstore.backend.entity.Comment">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="username" column="username"/>
        <result property="bookId" column="bookId"/>
        <result property="comment" column="comment"/>
        <result property="time" column="time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , userId, username, bookId, comment, time
    </sql>
</mapper>

