<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.backend.mapper.OrderMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO orders (userid, bookid, bookname, author, price, date, status)
        VALUES
        <foreach collection="list" item="order" separator=",">
            (#{order.userId}, #{order.bookId}, #{order.bookname}, #{order.author}, #{order.price}, #{order.date},
            #{order.status})
        </foreach>
    </insert>

    <select id="getOrdersByUserId" resultType="com.bookstore.backend.entity.Orders">
        SELECT bookid, bookname, author, price, `date`, status
        FROM orders
        WHERE userid = #{userId}
        ORDER BY `date` DESC
    </select>
    <select id="pageCC" resultType="map">
        select *
        from orders o
                JOIN user u ON o.userid = u.id
            ${ew.customSqlSegment}
    </select>

</mapper>
