<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.RecordMapper">

<!--    <select id="pageCC" resultType="com.hotelel.entity.Record">-->
<!--&#45;&#45;         select a.*,b.name goodsname,c.name storagename,d.name goodstypename,-->
<!--&#45;&#45;         (select u.name from user u where u.id=a.userid)username,-->
<!--&#45;&#45;         from record a ,goods b,storage c,goodsType d-->
<!--&#45;&#45;         /* where a.goods=b.id-->
<!--&#45;&#45;         and b.storage=c.id and b.goodsType=d.id*/-->
<!--&#45;&#45;         ${ew.customSqlSegment}-->
<!--            select * from record-->
<!--    </select>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hotel.entity.Record">
        <id column="id" property="id" />
        <result column="stotagename" property="stotagename" />
        <result column="username" property="username" />
        <result column="count" property="count" />
        <result column="createtime" property="createtime" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="pageC" resultType="com.hotel.entity.Record">
        select * from record
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stotagename, username, count, createtime, remark
    </sql>

</mapper>
